<div class="profile-container">
    <div class="tabs">
      <div class="tab selected">Chats</div>
      <div class="tab">Profile</div>
      <div class="tab">Settings</div>
    </div>
  
    <div class="profile-header">
      <img src="assets/avatar.png" alt="Profile Image" class="profile-img">
      <h3>My Account</h3>
      <span>Online</span>
    </div>
  
    <form [formGroup]="profileForm" (ngSubmit)="onSaveChanges()">
      <div class="form-group">
        <label>Name</label>
        <input formControlName="name" type="text">
      </div>
      <div class="form-group">
        <label>About Me</label>
        <input formControlName="aboutMe" type="text">
      </div>
      <div class="form-group">
        <label>Mobile</label>
        <input formControlName="mobile" type="text">
      </div>
      <div class="form-group">
        <label>Change MPIN</label>
        <input formControlName="mpin" type="password">
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input formControlName="newPassword" type="password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input formControlName="confirmPassword" type="password">
      </div>
      <div class="form-group">
        <label>
          <input formControlName="onlineStatus" type="checkbox"> Show Online Status
        </label>
      </div>
  
      <div class="actions">
        <button type="button" class="btn" (click)="onDeleteAccount()">Delete Account</button>
        <button type="submit" class="btn">Save Changes</button>
      </div>
    </form>
  
    <div class="about-section">
      <h4>About Me</h4>
      <p>{{profile?.aboutMe}}</p>
    </div>
  </div>