.register-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to right, #ff512f, #dd2476);
    padding: 40px;
    border-radius: 10px;
  }
  
  .icon {
    margin-bottom: 20px;
  }
  
  .icon img {
    width: 80px;
    height: 80px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .register-btn {
    background-color: #ff512f;
    background-image: linear-gradient(to right, #ff512f, #dd2476);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-btn:hover {
    background-image: linear-gradient(to right, #dd2476, #ff512f);
  }